.one{
    font-size: large;
  }
  .zero{
      margin: 2;
      border-top: 1px;
      border-color: grey;
      border-bottom: 1px;
  
  }
  .to{
      background-color: rgb(193, 192, 192);
  }
  .four{
      background-color: yellow;
  }
  .five{
      background-color: rgb(185, 63, 63);
  }
  
  