body{
    padding: 50px;
    margin: 40px;
    width:1260px;
    height:570px;
    padding: 10px;
    border:3px solid rgb(21, 173, 46);
}
hr{
    width: 1px;
    height: 550;
    color: rgb(11,116,29);
}
h1{
    padding-left: 760px;
    font-size: 45px;
    color: rgb(11, 116, 29);
}
img{
    float: left; 
    padding: 10px 20px 10px 10px;
    border-right: 2px dashed rgb(11, 116, 29);
    width: 700px;
    height: 550px;
}

li{
    list-style: url(banana.png);
    list-style-position: inside c;
    
    font-size: 20px;
    padding-left: 760px;
    padding-top: 15px;
    
}