/* Thiết lập phong cách cho trang web */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
  }
  
  th {
    font-weight: bold;
  }
  
  input[type="number"] {
    width: 50px;
  }
  
  tfoot td {
    font-weight: bold;
  }
  
  .delete-btn {
    background-color:#f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    }

    .edit-btn {
        background-color:yellow;
        color: black;
        border: none;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
        }
  