#div_bg{    
    width: 1000px;
    height: 800px;
    background-color: rgba(236, 236, 235, 0.891);
    position: relative;    
}
#div_bg > .trai{    
    width: 100px;
    height: 800px;
    /* background-color: rgba(11, 206, 11, 0.891); */
    position: relative;
    float: left;
}
#div_bg > .phai{    
    width: 100px;
    height: 800px;
    /* background-color: rgba(20, 7, 197, 0.891); */
    position: relative;
    float: left;    
}
#div_bg > .noidung{    
    /* background-color: rgb(250, 250, 250); */
    width: 780px;
    height: 700px;
    padding-top: 20px;
    padding-bottom: 50px;
    position: relative;
    float: left;    
}
#div_bg > .noidung >.p{    
   
    width: 780px;
    height: 450px;
    position: relative;
    float: left;
    /* background-color: blueviolet;     */
}
#div_bg > .noidung >.img_with_p{    
    
    width: 780px;
    height: 180px;
    position: relative;
    float: left;
    /* background-color: brown;     */
}
#heading1{    
    font-size: 40px ;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    color: green;
    padding-top: 20px;
}
#heading3{
    padding-top: 0;  
    font-size: 20px ;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    color: gray;
}
.text {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.red_text{
    color: rgb(236, 78, 78);
    padding: 1px;
    border: 0.5px solid rgba(107, 109, 109, 0.372);
}