

table{

    width: 30%;
    height: 100%;
}

.abc{
    text-align:left
}

th, td {
    border: 1px solid black;
    border: solid 10 px;
}

.button{
   
    font-size: 20px;
    margin:auto;
    display:block;
  }