#div_tong{
    /* background-color: pink; */
    width: 900px;
    height: 800px;
}
#div_tong > .div_table{    
    width: 800px;
    height: 700px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid rgb(53, 84, 6);
    border-spacing: 0;
    position:relative;   
}
#heading {
    /* background-color: red; */
    color: rgb(19, 160, 23);
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}
.chu_trang {
    background-color: rgb(104, 224, 104);
    color: white;
    padding: 0;
    text-align: center;
    outline: 1px solid green;
}
.cot{
    outline: 1px solid green;
    text-align: center;
}
tr:nth-child(even) {
    background-color: white;
  }
  
  tr:nth-child(odd) {
    background-color: rgb(9, 224, 149);
  }
  