
#khungngoai{
    border-style: solid;
    font-size: 20px;
    border-color: green;
    width: 90vw;
}
#khungtrai{
  border-style: solid;
  border-color: green;
  float: left
  
}
ul,h1 {
    list-style-image: url('banana.png');
    margin-left: 500px;
  }
img{
   margin-top: 15px;
width: 35%;
}
